
# Ignore node modules
/node_modules/

# Ignore logs
*.log

# Ignore editor files
.vscode/

# Ignore environment variables
.env

# Ignore git
.git/

# Ignore npm
npm-debug.log
yarn-error.log

as.js
dk.js
hash.js
sc.js
test.js
wok.js
bjir.js
cok.txt
haha.js
note.txt

